

#azulTitle {
    color: blue;
}
#anaranjadoTitle {
    color: orange;
}
#greenTitle {
    color: green;
}
#rojotitle {
    color: red;
}

#amareloTitle {
    color: yellow;
}
img {
    height: 200px;
    weight: 200px;
}